.title-bg span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.title-bg>span:nth-child(1) {transform: rotate(0deg);}
.title-bg>span:nth-child(2) {transform: rotate(90deg);}
.title-bg>span:nth-child(3) {transform: rotate(180deg);}
.title-bg>span:nth-child(4) {transform: rotate(270deg);}

.title-bg span::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgba(48,58,72,0.9);
    transform: scaleX(0);
    animation: bani 4s linear infinite forwards;
    animation-delay: 1s;
}



@keyframes bani {
    0% {
      transform:scaleX(0);
      transform-origin: left;
    }
    50% {
      transform:scaleX(1);
      transform-origin: left;
    }
    50.1% {
      transform:scaleX(1);
      transform-origin: right;
    }
    100% {
      transform:scaleX(0);
      transform-origin: right;
    }
}
