@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'GmarketSansMedium';
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Hamburger button styles. */
/* nav */
#nav-icon1 {
  width: 32px;
  height: 30px;
  position: fixed;
  right: 6%;
  top: 8%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 999;
}

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #fff;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  z-index: 999;
}


#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 10px;
}

#nav-icon1 span:nth-child(3) {
  top: 20px;
}

#nav-icon1.open span:nth-child(1) {
  top: 10px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  background: #fff;
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 10px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
  background: #fff;
}

.overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  background-color: rgba(0, 0, 0);
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  align-items: center;
  z-index: 998;
}

.overlay.open {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

.overlay ul li {
  margin: 5rem 0;
}

.overlay ul li a {
  font-size: 3rem;
  color: #fff;
  opacity: .5;
}

.overlay ul li a:hover {
  opacity: 1;
}

.active {
  opacity: 1 !important;
}

.overlay ul li a:hover {
  border: none !important;
}

/* nav */



#main-page {
  width: 100%;
  height: 100vh;
  background: linear-gradient(90deg, rgb(14, 14, 14), #000);
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}

.md-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 13.4em;
  padding-bottom: 2.9em;
}

.bg-black {
  width: 380px;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid rgba(255, 255, 255, .5);
  box-sizing: border-box;
}

.bg-black span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.bg-black span::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: rgba(255, 255, 255, 1);
  transform: scaleX(1);
  animation: bani 5s linear infinite forwards;
}

.bg-black>span:nth-child(1) {
  transform: rotate(270deg);
}

.bg-black>span:nth-child(2) {
  transform: rotate(180deg);
}

.bg-black>span:nth-child(3) {
  transform: rotate(90deg);
}

.bg-black>span:nth-child(4) {
  transform: rotate(0deg);
}


.main-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
}

.main-text h4 {
  font-size: 36px;
  text-align: center;
  color: #fff;
  line-height: 1.7em;
  text-shadow: 1px 1px 5px rgb(197, 197, 197);
}

.main-text h4:nth-child(2) {
  font-size: 60px;
}

@keyframes bani {
  0% {
    transform: scaleX(0);
    transform-origin: right;
  }

  25% {
    transform: scaleX(1);
    transform-origin: right;
  }

  50% {
    transform: scaleX(1);

    transform-origin: right;
  }

  50.1% {
    transform: scaleX(0);
    transform-origin: left;
  }

  75% {
    transform: scaleX(1);
    transform-origin: left;
  }

  100% {
    transform: scaleX(1);
    transform-origin: left;
  }
}

.bot {
  padding: 9em 10em 3em;
}

.bot-text {
  display: flex;
  justify-content: space-between;
  color: #fff;
}

@media(max-width: 1280px) {
  .bot {
    padding-right: 2em;
    padding-left: 2em;
  }
}

@media(max-width: 1024px) {
  .md-box {
    padding-top: 30em;
    padding-bottom: 18.4em;
  }
}

@media(max-width: 768px) {
  .md-box {
    padding-top: 20em;
    padding-bottom: 7em;
  }

  .overlay ul li a {
    font-size: 2rem;
  }
}

@media(max-width: 540px) {
  .md-box {
    padding-top: 13.3em;
    padding-bottom: 0;
  }

  .bg-black {
    width: 300px;
    height: 300px;
  }

  .main-text h4 {
    font-size: 24px;
  }

  .main-text h4:nth-child(2) {
    font-size: 48px;
  }

  .bot-text {
    font-size: 12px;
  }

  .overlay ul li a {
    font-size: 1.5rem;
  }
}

@media(max-width: 416px) {
  .md-box {
    padding-top: 15em;
    padding-bottom: 5em;
  }

  .bot {
    padding-top: 11em;
    padding-bottom: 1.6em;
  }

  .bg-black {
    width: 200px;
    height: 200px;
  }

  .main-text h4 {
    font-size: 16px;
  }

  .main-text h4:nth-child(2) {
    font-size: 24px;
  }
}

@media(max-width: 375px) {
  .bot {
    padding-right: 1em;
    padding-left: 1em;
  }

  .bot-text {
    font-size: 10px;
  }

  .md-box {
    padding-top: 19.9em;
    padding-bottom: 5em;
  }
}






/* page2~ */
.page-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 25em;
  padding-bottom: 10em;
}
#cont-page{
  padding-top: 10em;
  padding-bottom:2em;
}
.main-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-text h3 {
  font-size: 60px;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 5px rgb(197, 197, 197);
}

.scroll-downs {
  position: absolute;
  right: 0;
  bottom: 3em;
  left: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scroll-downs p {
  font: 10px;
  color: #fff;
  margin-top: 1em;
}

.mousey {
  width: 3px;
  padding: 7px 12px;
  height: 35px;
  border-radius: 25px;
  border: 2px solid #fff;
  box-sizing: content-box;
  animation-name: bounce;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.scroller {
  width: 3px;
  height: 8px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15, .41, .69, .94);
  animation-iteration-count: infinite;
}

@keyframes scroll {

  0% {
    opacity: 0;
  }

  10% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}

@keyframes downup {

  0% {
    opacity: 0;
    transform: translateY(0, 100px);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes bounce {

  from,
  to {
    margin-bottom: 0;
    animation-timing-function: ease-out;
  }

  50% {
    margin-bottom: 8px;
    animation-timing-function: ease-in;
  }
}

#page-bottom{
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 3em;
}
#page-bottom h4{
  font-size: 12px;
}

.page-title h3 {
  font-size: 60px;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 5px rgb(197, 197, 197);
}
.sec-box{
  padding: 8em 3.5em 4em;
}
#pd--8{
  padding-bottom: 8em;
}
.sec-title{
  font-size: 36px;
  color: #000;
  text-align: center;
  padding-bottom: 1em;
}
#title-1 h3::before{
  content: "S";
  color: rgb(145, 0, 0);
  font-size: 48px;
  font-weight: 800;
}
#title-2 h3::before{
  content: "I";
  color: rgb(145, 0, 0);
  font-size: 48px;
  font-weight: 800;
}
.page-title h4{
  font-size: 24px;
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 5px rgb(197, 197, 197);
}
.sec-row{
  padding: 4em 0;
  background: rgba(0,0,0,.5);
  border-radius: 10px;
}
.skill-left{
  border-right: 2px solid #FFF;
}
.sec-row ul li{
  display: flex;
  justify-content: space-between;
  color: #FFF;
  padding: 1.5em;
}
.sec-row .skill-right ul li{
  padding: 2em;
}
.list p:nth-child(1){
  font-weight: 600;
  color: rgb(192, 192, 192);
}



.intro-left{
  border-right: 2px solid #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.intro-left h4{
  color: #fff;
  font-size: 18px;
  font-weight: 300;
}
.intro-right{
  padding: 1em 1em;
}
.back-title{
  position: absolute;
  font-size: 48px;
  color: rgba(255, 255, 255, .2);
  top: .7em;
  left: 1em;
}
#sec-01{
  padding: 0;
}
 #sec-02, #sec-03, #sec-04,
#sec-05, #sec-06{
  background: rgb(247, 241, 255);
  padding: 4em 0;
}
.skill-left .back-title{
  display: none;
}
@keyframes rollup{
  from{
    height: 100%;
    box-shadow: 0;
  }
  to{
    height: 70%;
   box-shadow:  2px 2px 2px 2px rgb(173, 173, 173);
  }
}
@keyframes rollup2{
  from{
    height: 100%;
  }
  to{
    height: 70%;
  }
}
@keyframes pd{
  from{
   padding-top: 0;
  }
  to{
    padding-top: 4em;
  }
}
.port-row{
  width: 100%;
  height: 100%;
  margin: 0;
}
.left-text{
  width: 100%;
  background:  rgb(32, 16, 0);
  border-radius: 0 50px 50px 0;
  padding-top: 20em;
  padding-left: .5em;
}
.left-text h1{
  font-size: 60px;
  font-weight: 700;
  color: #fff;
  opacity: .2;
}
.right-text h1{
  font-size: 60px;
  font-weight: 700;
  color: #fff;
  opacity: .2;
}
.right-text{
  width: 100%;
  background:  rgb(45, 2, 73);
  border-radius: 50px 0 0 50px;
  text-align: right;
  padding-top:20em;
  padding-right: .5em;
}
.left-title{
  color: #fff;
  padding-left: 3em;
}
.left-title h3{
  font-size:  36px;
}
.left-title h2{
  font-size: 48px;
  font-weight: 600;
}
.right-title{
  color: #fff;
  padding-right: 3em;
}
.right-title h3{
  font-size:  36px;
}
.right-title h2{
  font-size: 48px;
  font-weight: 600;
}
.left-img{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.right-img{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mockup{
  width: 900px;
  height: 550px;
}
#mock-01{
  background: url(../images/port1.png);
  background-position: center;
  background-size: cover;
}
#mock-02{
  background: url(../images/port2.png);
  background-position: center;
  background-size: cover;
}
#mock-03{
  background: url(../images/port3.png);
  background-position: center;
  background-size: cover;
}
#mock-04{
  background: url(../images/port5.png);
  background-position: center;
  background-size: cover;
}
#mock-05{
  background: url(../images/port6.png);
  background-position: center;
  background-size: cover;
}
.mock-text{
  width: 40%;
  padding: 1em;
  text-align: center;
  line-height: 1.5em;
}
.mock-btn{
  width: 120px;
  height: 50px;
  border-radius: 50px;
  background: rgb(45, 2, 73);
}
.mock-btn a{
  display: block;
  font-size: 16px;
  color: #fff;
  line-height: 50px;
  text-align: center;
}
#page-btn{
  margin: 0 1em;
}


#pt-2{
  background: linear-gradient( 45deg, rgb(9, 7, 150), rgb(81, 155, 252) );
}



#pd--7{
  padding-bottom: 7.1em;
}
.cont-box{
  padding: 5em 2em;
  background: rgba(255, 255, 255, .7)
}
.cont-box .row{
  justify-content: center;
}
#left h1{
  color: rgb(65, 65, 65);
  font-size: 18px;
  padding: 1em;
}
#right h1{
  color: #000;
  font-size: 18px;
  border-bottom: 2px solid rgb(109, 109, 109);
  padding: 1em;
  font-weight: bold;
  text-align: right;
}







@media(max-width: 1280px) {
  .bot {
    padding-right: 2em;
    padding-left: 2em;
  }
  .sec-row ul li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .5em;
  }
  .sec-row ul li p{
    margin-top: 1em;
  }
  #pd--8 .sec-row .skill-right ul li{
    padding: 1em .5em;
  }
}

@media(max-width: 1024px) {
  .md-box {
    padding-top: 30em;
    padding-bottom: 18.4em;
  }
  .skill-left{
    border-right: none;
  }
  .intro-left{
    border-right: none;
  }
}

@media(max-width: 768px) {
  .md-box {
    padding-top: 20em;
    padding-bottom: 7em;
  }

  .overlay ul li a {
    font-size: 2rem;
  }
  .intro-left h4{
    display: none;
  }
  .back-title{
    text-align: right;
    right: .3em !important;
  }
  .skill-left .back-title{
    display: block;
    border-right: none;
  }
}

@media(max-width: 540px) {
  .md-box {
    padding-top: 13.3em;
    padding-bottom: 0;
  }
  .page-title h3{
    font-size: 36px;
  }
  .page-title h4{
    font-size: 16px;
  }
  .bg-black {
    width: 300px;
    height: 300px;
  }

  .main-text h4 {
    font-size: 24px;
  }

  .main-text h4:nth-child(2) {
    font-size: 48px;
  }

  .bot-text {
    font-size: 12px;
  }

  .overlay ul li a {
    font-size: 1.5rem;
  }
  .sec-title{
    font-size: 24px;
  }
  #title-1 h3::before{
    font-size: 36px;
  }
  #title-2 h3::before{
    content: "I";
    font-size: 36px;
  }
  .back-title{
    font-size: 36px;
  }
}

@media(max-width: 416px) {
  .md-box {
    padding-top: 15em;
    padding-bottom: 5em;
  }
  #right h1{
    font-size: 16px;
  }
  #left h1{
    font-size: 16px;
  }
  .bot {
    padding-top: 11em;
    padding-bottom: 1.6em;
  }
  .list{
    font-size: 12px;
  }
  .bg-black {
    width: 200px;
    height: 200px;
  }

  .main-text h4 {
    font-size: 16px;
  }

  .main-text h4:nth-child(2) {
    font-size: 24px;
  }
}

@media(max-width: 375px) {
  .bot {
    padding-right: 1em;
    padding-left: 1em;
  }

  .bot-text {
    font-size: 8px;
  }

  .md-box {
    padding-top: 19.9em;
    padding-bottom: 5em;
  }
  #right h1{
    font-size: 12px;
  }
  #left h1{
    font-size: 12px;
  }
  .page-title h3{
    font-size: 24px;
  }
  .page-title h4{
    font-size: 12px;
  }
}